:root {
	--gray: #778;
	--fg: #eee;
	--bg: #111;
	--accent-dark: #0a4941;
	--accent: #198375;
	--accent-light: #70e7d7;
	--accent-very-light: #d7fffa;
	--accent2-dark: #4d2a0f;
	--accent2: #834919;
	--accent2-light: #e9c7ab;
	--accent2-very-light: #834919;
	--accent3-dark: #410e55;
	--accent3: #651983;
	--accent3-light: #915ca7;
	--accent3-very-light: #caacd6;
	--miku-dark: #0a444d;
	--miku: #197583;
	--miku-light: #53a5b1;
	--miku-very-light: #cbeaef;
}



input {
	z-index: 10000;
}





.button {
	font-family: "Noto Sans", sans-serif;
}

#score, #message {
	font-family:
		"Chewy",
		"Comic Relief",
		"Sour Gummy",
		"Comic Sans MS",
		"Comic Sans",
		"Noto Sans JP",
		"Noto Sans",
		"Segoe Print",
		"Candara",
		sans-serif;
}



html{
	font-size: max(min(2.3vh, 4vw), 0.5em);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin: 0;
	width: 100vw;
	height: 100vh;
	min-width: 100vw;
	max-width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
	color: var(--fg);
	background-color: var(--bg);

	overflow: hidden;
}



#background {
	position: absolute;
	display: block;

	width: 100vw;
	height: 100vh;

	background-color: var(--bg);

	opacity: 0;

	z-index: -100;

	transition: 
		background-color 0.2s ease-in-out,
		opacity 0.2s ease-in-out;
}

#gif-container {
	position: absolute;
	display: block;

	width: 100vw;
	height: 100vh;

	mask-image: radial-gradient(circle, #000 0%, #0000 100%);
  	mask-composite: add;
	mask-size: cover;

	z-index: -99;
	/*! filter: blur(0.05em); */
}

#gif {
	display: block;

	width: 100vw;
	height: 100vh;

	background-image: url('gifs/good1.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	mix-blend-mode: color-dodge;

	mask-image: radial-gradient(circle, #000 33%, #0000 33%);
	mask-repeat: repeat;
	mask-position: center;
	mask-size: 0.75em 0.75em;
	mask-type: alpha;

	opacity: 0;

	transition:
		opacity 0.2s ease-in-out;
}




.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	
	border-radius: 50%;

	font-size: 2em;

	padding: 0.75em;
	margin: 1em;

	cursor: pointer;
}

#start-button-container {
	color: var(--accent-dark);
}

#finish-button-container {
	color: var(--accent2-dark);

	outline-style: solid;
	outline-color: var(--fg);
	outline-width: 0;
	outline-offset: 0;

	transition: outline-width 0.5s ease-out, outline-offset 0.5s ease-out;
}

.button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-weight: 900;
	width: min(30vh, 10em);
	height: min(30vh, 10em);
	border-radius: 50%;
	padding: 0.8em;
	box-sizing: border-box;

	background-color: var(--fg);

	transition: all 0.2s ease-out;
}

#finish-button {
	outline-style: solid;
	outline-color: #ffffff22;
	outline-width: 0;
	outline-offset: 0.5em;

	transition: all 0.2s ease-out, outline-width 0.01s linear, box-shadow 0.01s linear;
}

.button-container:hover .button {
	font-weight: 900;
	font-size: 1.05em;
	text-shadow: 0px 0px 1px var(--fg);
}

.button-container::before {
	display: block;
	content: "";
	position: absolute;
	width: min(30vh, 10em);
	height: min(30vh, 10em);
	
	border-style: inset;
	border-width: 0.5em;
	border-radius: 50%;

	transition: all 0.2s ease-out;
	
	pointer-events: none;
}

#start-button-container::before {
	box-shadow: 0 0 0.5em -0.1em var(--bg), 0 0 0.25em -0.05em var(--bg) inset;
}

#finish-button-container::before {
	box-shadow: 0 0 0.5em -0.1em var(--bg), 0 0 0.25em -0.05em var(--bg) inset;
}

#start-button-container:hover::before {
	box-shadow: 0 0 0.5em var(--bg), 0 0 0.25em var(--bg) inset;
}

#finish-button-container:hover::before {
	box-shadow: 0 0 0.5em var(--bg), 0 0 0.25em var(--bg) inset;
}

#start-button-container:active::before {
	box-shadow: 0 0 0.2em 0.05em var(--bg), 0 0 0.1em 0.025em var(--bg) inset;
}

#finish-button-container:active::before {
	box-shadow: 0 0 0.2em 0.05em var(--bg), 0 0 0.1em 0.025em var(--bg) inset;
}

.button-container:hover::before {
	transform: rotate(-15deg);
	border-width: 0.75em;
}

.button-container:active::before {
	transform: rotate(360deg);
	border-width: 0.5em;

	transition: all 0.4s ease-out;
}

#start-button-container::before {
	border-color: var(--accent);
}

#finish-button-container::before {
	border-color: var(--accent2);
}






#score-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	word-wrap: anywhere;

	height: 0;
	font-size: 0;
	font-weight: 900;
	line-height: 1;
	margin: 0;

	width: 100%;
	
	outline-style: solid;
	outline-color: transparent;
	outline-width: 0;
	outline-offset: 0;
	
	text-shadow: 0px 0px 0.05em var(--bg);

	transition: height 0.5s ease-out, font-size 0.5s ease-out, margin 0.5s ease-out;
}

#banner {
	position: absolute;
	display: block;
	opacity: 0;

	box-shadow: 0px 0px 0.1em 0.005em var(--bg);
	
	height: 1em;
	width: 0;

	z-index: -1;
	pointer-events: none;
}





.bloom-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 0;
	height: 0;

	pointer-events: none;
}





.bloom {
	position: absolute;
	display: block;

	height: 1px;
	width: 1px;
	border-radius: 50%;

	outline-style: solid;
	outline-width: 0;
	outline-color: var(--fg);
	outline-offset: 0;

	pointer-events: none;

	opacity: 0;
}



#spinner {
	position: absolute;
	display: block;
	content: '';

	width: min(1.9em, 65vw, 65vh);
  	height: min(1.9em, 65vw, 65vh);

	outline-style: dashed;
	outline-width: 0.04em;
	outline-color: var(--fg);
	outline-offset: 0.08em;
	border-radius: 50%;
	opacity: 0%;
	
	z-index: -2;
	pointer-events: none;

	box-sizing: border-box;
}

#message {
	font-size: 0;
	text-shadow: 0px 0px 0.1em var(--bg);
	text-align: center;
	word-wrap: anywhere;
	padding: 0 0.5em;
}





#show-background:checked ~ #background {
	opacity: 10%;
}

#show-background:checked ~ * #gif {
	opacity: 20%;
}

#show-background:checked ~ #show-score:not(:checked) ~ #background {
	background-color: var(--accent-dark);
}





#show-score:checked ~ #score-container {
	font-size: 10em;
	margin: 0.2em 0;
	height: 1em;
	
	transition:
		height 5s ease-out,
		font-size 5s ease-out,
		margin 5s ease-out,
		outline-offset 0.1s ease-out,
		outline-width 0.05s ease-out;
}

#show-score:checked ~ #message {
	font-size: 2em;

	transition: font-size 5s ease-out;
}





#effect1:checked ~ #background {
	background-color: var(--accent2-dark);
}

#effect1:checked ~ #score-container {
	color: var(--accent2);
}

#effect1:checked ~ #message {
	color: var(--accent2);
}

#effect1:checked ~ * .bloom {
	outline-color: var(--accent2-light);
}





#effect2:checked ~ * #bloom0 {
	animation: bloom0 1.4s ease-in-out;
}

#effect2:checked ~ * #bloom1 {
	animation: bloom1 1.4s ease-in-out;
}

#effect2:checked ~ * #bloom2 {
	animation: bloom2 1.4s ease-in-out;
}

#effect2:checked ~ * #bloom3 {
	animation: bloom3 1.4s ease-in-out;
}

#effect2:checked ~ * #bloom4 {
	animation: bloom4 1.4s ease-in-out;
}

#effect2:checked ~ #effect4:checked ~ * #bloom0 {
	animation: bloom0 2.6s ease-in-out;
}

#effect2:checked ~ #effect4:checked ~ * #bloom1 {
	animation: bloom1 2.6s ease-in-out;
}

#effect2:checked ~ #effect4:checked ~ * #bloom2 {
	animation: bloom2 2.6s ease-out;
}

#effect2:checked ~ #effect4:checked ~ * #bloom3 {
	animation: bloom3 2.6s ease-in-out;
}

#effect2:checked ~ #effect4:checked ~ * #bloom4 {
	animation: bloom4 2.6s ease-in-out;
}

#effect2:checked ~ #effect6:checked ~ * #bloom0 {
	animation: bloom00 2.6s ease-in-out;
}




#effect3:checked ~ #background {
	background-color: var(--fg);
}

#effect3:checked ~ #score-container {
	color: var(--bg);
	
	text-shadow: none;
}

#effect3:checked ~ * #banner {
	width: 100%;
	opacity: 100%;

	background-color: var(--fg);

	transition:
		width 0.2s cubic-bezier(0.5, 0, 0.5, 1),
		opacity 0.4s ease-out,
		border-width 0.4s ease-out;
}





#effect4:checked ~ #background {
	background-color: var(--accent-dark);
}

#effect4:checked ~ #score-container {
	color: var(--accent);
	
	text-shadow: 0px 0px 0.01em var(--bg);
}

#effect4:checked ~ #message {
	color: var(--accent-very-light);
}

#effect4:checked ~ * #spinner {
	width: min(2em, 70vw, 70vh);
  height: min(2em, 70vw, 70vh);
	opacity: 20%;
	
	border-width: 0.04em;

	transition:
		width 0.4s cubic-bezier(0, 0.25, 0.75, 1),
		height 0.4s cubic-bezier(0, 0.25, 0.75, 1),
		opacity 0.4s ease-in-out;
	
	animation: rotating 10s linear infinite;
}

#effect4:checked ~ * .bloom {
	outline-color: var(--accent-light);
}





#effect5:checked ~ #background {
	background-color: var(--accent3-dark);
}

#effect5:checked ~ #score-container {
	color: var(--accent3-dark);
	
	outline-style: solid;
	outline-width: 0.05em;
	outline-color: var(--fg);
	outline-offset: 0.05em;
}

#effect5:checked ~ #message {
	color: var(--accent3-very-light);
}

#effect5:checked ~ * #spinner {
	background-color: var(--fg);
}

#effect5:checked ~ * .bloom {
	outline-color: var(--accent3-light);
}





#effect6:checked ~ #score-container {
	color: var(--fg);
	
	text-shadow: 0px 0px 0.05em var(--bg);
	
	outline-style: dashed;
	outline-width: 0.025em;
	outline-color: var(--accent3-dark);
	outline-offset: 0.125em;
}

#effect6:checked ~ * #score {
	margin-bottom: 0.1em;
	
	transition: margin 0.4s ease-out;
}

#effect6:checked ~ * #banner {
	background-color: var(--accent3);
	
	/*border-top-style: solid;
	border-top-width: 0.1em;
	border-top-color: var(--accent3);*/
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	border-bottom-color: var(--accent3-dark);
}

#effect6:checked ~ #message {
	color: var(--fg);
	
	text-shadow: 0px 0px 0.2em var(--accent3);
	
	font-weight: 700;
	text-decoration: underline;
}

#effect6:checked ~ * #spinner {
	outline-color: var(--accent3);
	background-color: var(--accent3);
	outline-offset: 0.12em;
}





#effect39:checked ~ #background {
	background-color: var(--miku-dark);
}

#effect39:checked ~ #score-container {
	color: var(--miku);
}

#effect39:checked ~ #message {
	color: var(--miku);
}

#effect39:checked ~ * .bloom {
	outline-color: var(--miku-light);
}






@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes bloom00 {
	0% {
		outline-style: solid;
		outline-offset: 0;
		outline-width: 0;
		opacity: 100%;
	}
	10% {
		outline-style: solid;
		outline-offset: 50vh;
		outline-width: 10vh;
		opacity: 0;
	}
	15% {
		outline-style: dashed;
		outline-offset: 1em;
		outline-width: 0.05em;
		opacity: 0;
		transform: rotate(-50deg);
	}
	30% {
		outline-style: dashed;
		outline-offset: 1em;
		outline-width: 0.05em;
		opacity: 100%;
		transform: rotate(0deg);
	}
	80% {
		outline-style: dashed;
		outline-offset: 1em;
		outline-width: 0.05em;
		opacity: 100%;
		transform: rotate(-100deg);
	}
	90% {
		outline-style: dashed;
		outline-offset: 1em;
		outline-width: 0.05em;
		opacity: 0;
		transform: rotate(-75deg);
	}
	100% {
		outline-style: solid;
		opacity: 0;
	}
}

@keyframes bloom0 {
	0% {
		outline-offset: 0;
		outline-width: 0;
		opacity: 100%;
	}
	10% {		
		outline-offset: 50vh;
		outline-width: 10vh;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes bloom1 {
	50% {
		outline-offset: 0;
		outline-width: 0;
		opacity: 100%;
	}
	60% {
		outline-offset: 50vh;
		outline-width: 10vh;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes bloom2 {
	62.5% {
		outline-offset: 0;
		outline-width: 0;
		opacity: 100%;
	}
	72.5% {
		outline-offset: 50vh;
		outline-width: 10vh;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes bloom3 {
	75% {
		outline-offset: 0;
		outline-width: 0;
		opacity: 100%;
	}
	85% {
		outline-offset: 50vh;
		outline-width: 10vh;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes bloom4 {
	87.5% {
		outline-offset: 0;
		outline-width: 0;
		opacity: 100%;
	}
	97.5% {
		outline-offset: 50vh;
		outline-width: 10vh;
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}