:root {
	--controls-display: none;
	--gray: #778;
	--fg: #eee;
	--bg: #111;
	--fg-extreme: #fff;
	--bg-extreme: #000;
	--fg-tame: #ccc;
	--bg-tame: #222;
	--accent-dark: #003830;
	--accent-dim: #055e50;
	--accent: #198375;
	--accent-light: #70e7d7;
	--accent-very-light: #d7fffa;
	--accent2-dark: #522300;
	--accent2-dim: #60320d;
	--accent2: #834919;
	--accent2-light: #e9c7ab;
	--accent2-very-light: #eecdb2;
	--accent3-dark: #390150;
	--accent3-dim: #500c6a;
	--accent3: #651983;
	--accent3-light: #915ca7;
	--accent3-very-light: #caacd6;
	--miku-dark: #01444e;
	--miku: #197583;
	--miku-light: #53a5b1;
	--miku-very-light: #cbeaef;
}

#score, #message {
	font-family:
		"Chewy",
		"Comic Sans MS",
		"Comic Sans",
		"Noto Sans",
		"Noto Sans JP",
		"Segoe Print",
		"Candara",
		sans-serif;
}

body {	
	font-family: "Noto Sans", sans-serif;
}

html{
	font-size: min(6svw, 2.5svh, max(min(2.3svh, 4svw), 0.5em));
}

#is-done-loading:checked ~ #loading-cover {
	animation: remove-loading-cover 0.2s ease-in forwards;
}

@keyframes remove-loading-cover {
	0% {
		visibility: visible;
		opacity: 100%;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}



input {
	font-size: 0.9em;
	z-index: 10000;
}

input[type="button"] {
	cursor: pointer;

	border-style: solid;
	border-color: inherit;
	border-width: 0.1em;
	border-radius: 0.75em;

	padding: 0.25em 0.5em;

	line-height: 1em;

	background-color: var(--fg);
	color: var(--bg);
}

input[type="button"]:hover {
	background-color: var(--fg-extreme);
	color: var(--bg-tame);
}

input[type="button"]:active {
	background-color: var(--fg-tame);
	color: var(--bg-extreme);
}

input[type="button"].button1 {
	background-color: var(--accent2-dim);
	color: var(--fg);
}

input[type="button"].button1:hover {
	background-color: var(--accent2);
	color: var(--fg-extreme);
}

input[type="button"].button1:active {
	background-color: var(--accent2-dark);
	color: var(--fg-tame);
}

input[type="button"].button2 {
	background-color: var(--accent2-dim);
	color: var(--fg);
}

input[type="button"].button2:hover {
	background-color: var(--accent2);
	color: var(--fg-extreme);
}

input[type="button"].button2:active {
	background-color: var(--accent2-dark);
	color: var(--fg-tame);
}

input[type="button"].button3 {
	background-color: var(--accent3-dim);
	color: var(--fg);
}

input[type="button"].button3:hover {
	background-color: var(--accent3);
	color: var(--fg-extreme);
}

input[type="button"].button3:active {
	background-color: var(--accent3-dark);
	color: var(--fg-tame);
}


input[type="text"] {
	cursor: pointer;

	border-style: solid;
	border-color: inherit;
	border-width: 0.1em;
	border-radius: 0.75em;

	padding: 0.25em 0.5em;

	background-color: var(--fg);
	color: var(--bg);
}



body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	box-sizing: border-box;

	width: 100dvw;
	height: 100dvh;
	min-width: 100dvw;
	max-width: 100dvw;
	min-height: 100dvh;
	max-height: 100dvh;
	
	margin: 0;

	color: var(--fg);
	background-color: var(--bg);

	overflow: hidden;
}



#background {
	position: absolute;
	display: block;

	width: 100dvw;
	height: 100dvh;

	background-color: var(--bg);

	opacity: 0;

	z-index: -100;

	transition: 
		background-color 0.2s ease-in-out,
		opacity 0.2s ease-in-out;
}

#gif-container {
	position: absolute;
	display: block;

	width: 100dvw;
	height: 100dvh;

	mask-image: radial-gradient(circle, #000 0%, #0000 100%);
	mask-size: cover;

	mix-blend-mode: screen;

	z-index: -99;
	/*! filter: blur(0.05em); */
}

#gif {
	display: block;

	width: 100dvw;
	height: 100dvh;

	background-image: url('gifs/good1.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	mask-image: radial-gradient(circle, #000 33%, #0000 33%);
	mask-repeat: repeat;
	mask-position: center;
	mask-size: 0.75em 0.75em;
	mask-type: alpha;

	opacity: 0;

	transition:
		opacity 0.2s ease-in-out;
}

#flash {
	position: absolute;
	display: block;

	width: 100dvw;
	height: 100dvh;

	mix-blend-mode: screen;

	background-color: var(--fg-extreme);

	opacity: 0;

	z-index: -98;
}




#visualizer {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-evenly;

	width: 100svw;
	height: 20em;

	bottom: 0;

	opacity: 50%;

	z-index: -97;
}

#visualizer * {
	background-color: var(--fg);

	flex-grow: 1;
	width: 1em;
	margin: 0 0.1%;
}




#settings-container {
	position: absolute;

	top: 0;
	right: 0;

	font-size: 0.9em;

	padding: 2em min(1em, (100svw - 35em) / 2);

	width: 0;
	height: calc(100dvh - 4em);

	background-color: var(--bg-tame);

	overflow: hidden;
	visibility: hidden;

	z-index: 3;
}

@keyframes open-settings {
	0% {
		padding: 2em 0;

		box-shadow: 0 0 0 0 var(--bg);

		width: 0;

		overflow: hidden;
		visibility: visible;
	}
	99% {
		overflow: hidden;
	}
	100% {
		padding: 2em 1em;

		box-shadow: 0 0 5em 5em var(--bg);
		
		width: min(100dvw - 2em, 33em);

		overflow: auto;
		visibility: visible;
	}
}

@keyframes close-settings {
	0% {		
		padding: 2em 1em;

		box-shadow: 0 0 5em 5em var(--bg);
		
		width: min(100dvw - 2em, 33em);

		overflow: hidden;
		visibility: visible;
	}
	100% {
		box-shadow: 0 0 0 0 var(--bg);

		width: 0;

		padding: 2em 0;

		overflow: hidden;
		visibility: hidden;
	}
}

#is-settings-open:checked ~ #settings-container {
	animation: open-settings 0.3s cubic-bezier(0, 0.5, 0, 1) forwards;
}

#is-settings-closed:checked ~ #settings-container {
	animation: close-settings 0.2s cubic-bezier(1, 0, 0.5, 1) forwards;
}

#settings {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;

	width: min(100dvw - 2em, 33em);
}

#settings > * {
	margin-bottom: 1em;
}

.settings-title {
	text-align: center;

	font-weight: 700;
	font-size: 1.5em;
}

#settings table {
  	border-collapse: collapse;

	max-width: 35em;
}

#settings tr:first-child > td {
	border-style: solid;
	border-top-width: 0.05em;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-color:var(--fg-tame);
}

#settings td {
	padding: 1em 0.5em;
}

#settings td:first-child {
	width: 35%;
}

#settings td > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#settings td > div > * {
	margin-left: 0.5em;
	flex-grow: 1;
	flex-shrink: 1;
}

#settings > table input[type="button"] {
	width: 15em;
}

#settings > table input[type="text"] {
	flex-grow: 0;
}

#volume-input {
	text-align: right;
}

#settings > input {
	min-width: 10em;

	margin-left: 10em;
	margin-right: 10em;
	
	border-radius: 0.5em;
	padding: 0.5em 1em;
}

#settings-ok-button {
	background-color: var(--accent-dim);
	color: var(--fg);
}

#settings-ok-button:hover {
	background-color: var(--accent);
	color: var(--fg-extreme);
}

#settings-ok-button:active {
	background-color: var(--accent-dark);
	color: var(--fg-tame);
}



.extra-button {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;

	font-weight: 500;

	padding: 0.6em;
	border-style: solid;
	border-width: 0.1em;
	border-radius: 1.25em;

	background-color: var(--fg);
	color: var(--bg);

	box-shadow: 0 0 0.25em -0.1em var(--bg-extreme);

	z-index: 2;

	transition:
		background-color 0.2s ease-out,
		color 0.2s ease-out,
		box-shadow 0.2s ease-out,
		font-size 0.2s ease-out;

	cursor: pointer;
	user-select: none;
}

.extra-button:hover {
	background-color: var(--fg-extreme);
	color: var(--bg-tame);

	box-shadow: 0 0 0.5em 0 var(--bg-extreme);
}

.extra-button:active {
	background-color: var(--fg-tame);
	color: var(--bg-extreme);

	box-shadow: 0 0 0.1em 0.052em var(--bg-extreme), 0 0 0.5em var(--fg-extreme) inset;
}

.icon-flipper {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 1em;
	height: 1em;

	transition: rotate 0.2s ease-out;
}

.icon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 1em;
	height: 1em;

	transition: rotate 0.2s ease-out;
}

.icon {
	rotate: 0deg;
}

.extra-button:hover .icon {
	rotate: -10deg;
}

.extra-button:active .icon {
	rotate: 10deg;
}



#fullscreen-button {
	top: 1em;
	right: 4em;
}

#fullscreen-icon::before,
#fullscreen-icon::after {
	display: block;
	content: '';

	width: 0.4em;
	height: 0.4em;

	box-sizing: border-box;

	background-color: transparent;

	border-style: solid;
	border-width: 0;

	transition: rotate 0.2s ease-out;
}

#fullscreen-icon::before {
	position: absolute;
	border-top-width: 0.2em;
	border-left-width: 0.2em;

	top: 0;
	left: 0;
}

#fullscreen-icon::after {
	position: absolute;
	border-bottom-width: 0.2em;
	border-right-width: 0.2em;

	bottom: 0;
	right: 0;
}

#fullscreen-text {
	margin-left: 0.5em;
	font-size: 0.8em;
	line-height: 1em;
	display: none;
}



#is-fullscreen:checked ~ #fullscreen-button {
	background-color: var(--bg);
	color: var(--fg);

	box-shadow: 0 0 0.25em -0.1em var(--fg-extreme);
}

#is-fullscreen:checked ~ #fullscreen-button:hover {
	background-color: var(--bg-extreme);
	color: var(--fg-tame);

	box-shadow: 0 0 0.5em 0 var(--fg-extreme);
}

#is-fullscreen:checked ~ #fullscreen-button:active {
	background-color: var(--bg-tame);
	color: var(--fg-extreme);

	box-shadow: 0 0 0.1em 0.052em var(--fg-extreme), 0 0 0.5em var(--bg-extreme) inset;
}

#is-fullscreen:checked ~ #fullscreen-button .icon-flipper {
	rotate: 180deg;
}

#is-fullscreen:checked ~ #fullscreen-button .icon::before,
#is-fullscreen:checked ~ #fullscreen-button .icon::after {
	rotate: 180deg;
}

#is-fullscreen:checked ~ * #fullscreen-text {
	display: inline;
}



#settings-button {
	top: 1em;
	right: 1em;
}

#settings-icon::before {
	position: absolute;
	content: '';

	width: 0.3em;
	height: 0.3em;

	border-style: solid;
	border-width: 0.3em;
	border-radius: 50%;
}

#settings-icon > * {
	position: absolute;

	width: 0.2em;
	height: 0.3em;

	border-style: solid;
	border-top-width: 0.45em;
	border-bottom-width: 0.45em;
	border-left-width: 0;
	border-right-width: 0;
}

#settings-icon > *:nth-child(1) {
	rotate: 22.5deg;
}

#settings-icon > *:nth-child(2) {
	rotate: 67.5deg;
}

#settings-icon > *:nth-child(3) {
	rotate: 112.5deg;
}

#settings-icon > *:nth-child(4) {
	rotate: 157.5deg;
}

#is-settings-open:checked ~ #settings-button .icon-flipper {
	rotate: 180deg;
}

#is-settings-open:checked ~ #fullscreen-button .icon::before,
#is-settings-open:checked ~ #fullscreen-button .icon::after {
	rotate: 180deg;
}




.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	
	border-radius: 50%;

	font-size: 2em;

	padding: 0.75em;
	margin: 1em;

	cursor: pointer;
	user-select: none;
}

#start-button-container {
	color: var(--accent-dark);
}

#finish-button-container {
	color: var(--accent2-dark);

	outline-style: solid;
	outline-color: var(--fg);
	outline-width: 0;
	outline-offset: 0;
}

.button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-weight: 900;
	width: min(80svw, 7em);
	height: min(80svw, 7em);
	border-radius: 50%;
	padding: 0.8em;
	box-sizing: border-box;

	background-color: var(--fg);

	/* See display.js */
	transition:
		font-weight 0.2s ease-out,
		font-size 0.2s ease-out,
		text-shadow 0.2s ease-out,
		width 0.2s ease-out,
		height 0.2s ease-out;
}

#finish-button {
	outline-style: solid;
	outline-color: #ffffff22;
	outline-width: 0;
	outline-offset: 0.5em;
}

.button-container:hover .button {
	font-weight: 900;
	font-size: 1.05em;
	text-shadow: 0px 0px 1px var(--fg);
}

.button-container::before {
	display: block;
	content: "";
	position: absolute;
	width: min(80svw, 7em);
	height: min(80svw, 7em);
	
	border-style: inset;
	border-width: 0.5em;
	border-radius: 50%;

	transition: 
		box-shadow 0.2s ease-out,
		transform 0.2s ease-out,
		border-width 0.2s ease-out;
	
	pointer-events: none;
}

#start-button-container::before {
	box-shadow: 0 0 0.5em -0.1em var(--bg-extreme), 0 0 0.25em -0.05em var(--bg-extreme) inset;
}

#finish-button-container::before {
	box-shadow: 0 0 0.5em -0.1em var(--bg-extreme), 0 0 0.25em -0.05em var(--bg-extreme) inset;
}

#start-button-container:hover::before {
	box-shadow: 0 0 0.5em var(--bg-extreme), 0 0 0.25em var(--bg-extreme) inset;
}

#finish-button-container:hover::before {
	box-shadow: 0 0 0.5em var(--bg-extreme), 0 0 0.25em var(--bg-extreme) inset;
}

#start-button-container:active::before {
	box-shadow: 0 0 0.2em 0.05em var(--bg-extreme), 0 0 0.1em 0.025em var(--bg-extreme) inset;
}

#finish-button-container:active::before {
	box-shadow: 0 0 0.2em 0.05em var(--bg-extreme), 0 0 0.1em 0.025em var(--bg-extreme) inset;
}

.button-container:hover::before {
	transform: rotate(-15deg);
	border-width: 0.75em;
}

.button-container:active::before {
	transform: rotate(360deg);
	border-width: 0.5em;

	transition:
		box-shadow 0.4s ease-out,
		transform 0.4s ease-out,
		border-width 0.4s ease-out;
}

#start-button-container::before {
	border-color: var(--accent);
}

#finish-button-container::before {
	border-color: var(--accent2);
}






#score-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	word-wrap: anywhere;

	height: 0;
	font-size: 0;
	font-weight: 900;
	line-height: 1;
	margin: 0;

	width: 100%;
	
	outline-style: solid;
	outline-color: transparent;
	outline-width: 0;
	outline-offset: 0;

	text-shadow: 0px 0px 0.05em var(--bg-extreme);

	transition: height 0.5s ease-out, font-size 0.5s ease-out, margin 0.5s ease-out;
}

#banner {
	position: absolute;
	display: block;
	opacity: 0;

	box-shadow: 0px 0px 0.3em var(--bg-extreme);
	
	height: 1em;
	width: 0;

	z-index: -1;
	pointer-events: none;
}





.bloom-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 0;
	height: 0;

	pointer-events: none;
}





.bloom {
	position: absolute;
	display: block;

	height: 1px;
	width: 1px;
	border-radius: 50%;
	
	mix-blend-mode: screen;

	outline-style: solid;
	outline-width: 0;
	outline-color: var(--fg-extreme);
	outline-offset: 0;

	pointer-events: none;

	opacity: 0;
}



#spinner {
	position: absolute;
	display: block;
	content: '';

	width: min(1.9em, 65dvw, 65dvh);
  	height: min(1.9em, 65dvw, 65dvh);

	border-radius: 50%;

	outline-style: dashed;
	outline-width: 0.04em;
	outline-color: var(--fg);
	outline-offset: 0.08em;

	opacity: 0%;
	
	z-index: -2;
	pointer-events: none;

	box-sizing: border-box;
}

#message {
	font-size: 0;
	text-shadow: 0px 0px 0.2em var(--bg-extreme);
	text-align: center;
	word-wrap: anywhere;
	padding: 0 0.5em;
}





#show-background:checked ~ #background {
	opacity: 10%;
}

#show-background:checked ~ * #gif {
	opacity: 40%;
}

#show-background:checked ~ #show-score:not(:checked) ~ #background {
	background-color: var(--accent-dark);
}

#show-background:checked ~ #show-score:not(:checked) ~ * #gif {
	opacity: 50%;
}





#show-score:checked ~ #score-container {
	font-size: 10em;
	margin: 0.2em 0;
	height: 1em;
}

#showing-score:checked ~ #score-container {	
	transition:
		height 5s ease-out,
		font-size 5s ease-out,
		margin 5s ease-out,
		outline-offset 0.1s ease-out,
		outline-width 0.05s ease-out;
}

#show-score:checked ~ #message {
	font-size: 2em;
}

#showing-score:checked ~ #message {
	transition: font-size 5s ease-out;
}





#effect1:checked ~ #background {
	background-color: var(--accent2-dark);
}

#effect1:checked ~ #score-container {
	color: var(--accent2);
}

#effect1:checked ~ #message {
	color: var(--accent2);
}

#effect1:checked ~ * .bloom {
	outline-color: var(--accent2-light);
}

#show-background:checked ~ #effect1:checked ~ #background {
	opacity: 15%;
}

#show-background:checked ~ #effect1:checked ~ * #gif {
	opacity: 60%;
}






#effect2:checked ~ #flash {
	animation: flash 1.4s cubic-bezier(0.5, 0, 1, 0.5);
}

#effect2:checked ~ * #bloom0 {
	animation: bloom0 1.4s cubic-bezier(0, 0.5, 0.5, 1);
}

#effect2:checked ~ * #bloom1 {
	animation: bloom1 1.4s cubic-bezier(0, 0.5, 0.5, 1);
}

#effect2:checked ~ * #bloom2 {
	animation: bloom2 1.4s cubic-bezier(0, 0.5, 0.5, 1);
}

#effect2:checked ~ * #bloom3 {
	animation: bloom3 1.4s cubic-bezier(0, 0.5, 0.5, 1);
}

#effect2:checked ~ * #bloom4 {
	animation: bloom4 1.4s cubic-bezier(0, 0.5, 0.5, 1);
}

#effect2:checked ~ #effect4:checked ~ #flash {
	animation: flash 2.8s cubic-bezier(0.5, 0, 1, 0.5);
}

#effect2:checked ~ #effect4:checked ~ * #bloom0 {
	animation: bloom0 2.8s cubic-bezier(0, 0.5, 0.5, 1);
}

#effect2:checked ~ #effect4:checked ~ * #bloom1 {
	animation: bloom1 2.8s cubic-bezier(0, 0.5, 0.5, 1);
}

#effect2:checked ~ #effect4:checked ~ * #bloom2 {
	animation: bloom2 2.8s cubic-bezier(0, 0.5, 0.5, 1);
}

#effect2:checked ~ #effect4:checked ~ * #bloom3 {
	animation: bloom3 2.8s cubic-bezier(0, 0.5, 0.5, 1);
}

#effect2:checked ~ #effect4:checked ~ * #bloom4 {
	animation: bloom4 2.8s cubic-bezier(0, 0.5, 0.5, 1);
}

#effect2:checked ~ #effect6:checked ~ * #bloom0 {
	animation: bloom00 2.8s cubic-bezier(0, 0.5, 0.5, 1);
}




#effect3:checked ~ #background {
	background-color: var(--fg-tame);
}

#effect3:checked ~ #score-container {
	color: var(--bg);
	
	text-shadow: none;
}

#effect3:checked ~ * #banner {
	width: 100%;
	opacity: 100%;

	background-color: var(--fg);

	transition:
		width 0.2s cubic-bezier(0.5, 0, 0.5, 1),
		opacity 0.4s ease-out,
		border-width 0.4s ease-out;
}

#show-background:checked ~ #effect3:checked ~ #background {
	opacity: 5%;
}

#show-background:checked ~ #effect3:checked ~ * #gif {
	opacity: 50%;
}





#effect4:checked ~ #background {
	background-color: var(--accent-dark);
}

#effect4:checked ~ #score-container {
	color: var(--accent);
	
	text-shadow: 0px 0px 0.01em var(--bg);
}

#effect4:checked ~ #message {
	color: var(--accent-very-light);
}

#effect4:checked ~ * #spinner {
	width: min(2em, 70dvw, 70dvh);
	height: min(2em, 70dvw, 70dvh);

	opacity: 20%;

	transition:
		width 0.4s cubic-bezier(0, 0.25, 0.75, 1),
		height 0.4s cubic-bezier(0, 0.25, 0.75, 1),
		opacity 0.4s ease-in-out;
	
	animation: rotating 10s linear infinite;
}

#effect4:checked ~ * .bloom {
	outline-color: var(--accent-light);
}

#show-background:checked ~ #effect4:checked ~ #background {
	opacity: 10%;
}

#show-background:checked ~ #effect4:checked ~ * #gif {
	opacity: 50%;
}





#effect5:checked ~ #background {
	background-color: var(--accent3-dark);
}

#effect5:checked ~ #score-container {
	color: var(--accent3-dark);
	
	outline-style: solid;
	outline-width: 0.05em;
	outline-color: var(--fg);
	outline-offset: 0.05em;
}

#effect5:checked ~ #message {
	color: var(--accent3-very-light);
}

#effect5:checked ~ * #spinner {
	background-color: var(--fg);
}

#effect5:checked ~ * .bloom {
	outline-color: var(--accent3-light);
}





#effect6:checked ~ #score-container {
	color: var(--fg);

	margin: 0.3em 0;
	
	text-shadow: 0px 0px 0.05em var(--bg);
	
	outline-style: dashed;
	outline-width: 0.025em;
	outline-color: var(--accent3-dark);
	outline-offset: 0.125em;
}

#effect6:checked ~ * #score {
	margin-bottom: 0.1em;
	
	transition: margin 0.4s ease-out;
}

#effect6:checked ~ * #banner {
	background-color: var(--accent3);
	
	/*border-top-style: solid;
	border-top-width: 0.1em;
	border-top-color: var(--accent3);*/
	border-bottom-style: solid;
	border-bottom-width: 0.1em;
	border-bottom-color: var(--accent3-dark);
}

#effect6:checked ~ #message {
	color: var(--fg);
	
	text-shadow: 0px 0px 0.2em var(--accent3);
	
	font-weight: 700;
}

#effect6:checked ~ * #spinner {
	outline-color: var(--accent3);
	outline-offset: 0.12em;

	background-color: var(--accent3);
}

#show-background:checked ~ #effect6:checked ~ #background {
	opacity: 20%;
}

#show-background:checked ~ #effect6:checked ~ * #gif {
	opacity: 60%;
}





#effect39:checked ~ #background {
	background-color: var(--miku-dark);
}

#effect39:checked ~ #score-container {
	color: var(--miku);
}

#effect39:checked ~ #message {
	color: var(--miku);
}

#effect39:checked ~ * .bloom {
	outline-color: var(--miku-light);
}






@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes bloom00 {
	0% {
		outline-offset: 0;
		outline-width: 0;
		opacity: 100%;
	}
	1% {
		outline-width: 20dvh;
	}
	12.5% {
		outline-offset: 50dvh;
		outline-width: 0;
		opacity: 50%;
	}
	14% {
		outline-style: solid;
		outline-offset: 0;
		outline-width: 0;
		opacity: 0;
	}
	15% {
		outline-style: dashed;
		outline-offset: 1em;
		outline-width: 0.05em;
		opacity: 0;
		transform: rotate(0deg);
	}
	30% {
		outline-style: dashed;
		outline-offset: 1em;
		outline-width: 0.05em;
		opacity: 100%;
	}
	80% {
		outline-style: dashed;
		outline-offset: 1em;
		outline-width: 0.05em;
		opacity: 100%;
	}
	90% {
		outline-style: dashed;
		outline-offset: 1em;
		outline-width: 0.05em;
		opacity: 0;
		transform: rotate(-180deg);
	}
}

@keyframes bloom0 {
	0% {
		outline-offset: 0;
		outline-width: 0;
		opacity: 100%;
	}
	0% {
		outline-width: 20dvh;
	}
	12.5% {		
		outline-offset: 50dvh;
		outline-width: 0;
		opacity: 50%;
	}
}

@keyframes bloom1 {
	50% {
		outline-offset: 0;
		outline-width: 0;
		opacity: 100%;
	}
	51% {
		outline-width: 10dvh;
	}
	62.5% {
		outline-offset: 30dvh;
		outline-width: 0;
		opacity: 50%;
	}
}

@keyframes bloom2 {
	62.5% {
		outline-offset: 0;
		outline-width: 0;
		opacity: 100%;
	}
	63.5% {
		outline-width: 10dvh;
	}
	75% {
		outline-offset: 30dvh;
		outline-width: 0;
		opacity: 50%;
	}
}

@keyframes bloom3 {
	75% {
		outline-offset: 0;
		outline-width: 0;
		opacity: 100%;
	}
	76% {
		outline-width: 10dvh;
	}
	87.5% {
		outline-offset: 30dvh;
		outline-width: 0;
		opacity: 50%;
	}
}

@keyframes bloom4 {
	87.5% {
		outline-offset: 0;
		outline-width: 0;
		opacity: 100%;
	}
	88.5% {
		outline-width: 10dvh;
	}
	100% {
		outline-offset: 30dvh;
		outline-width: 0;
		opacity: 50%;
	}
}

@keyframes flash {
	0% {
		opacity: 0%;
	}
	1% {
		opacity: 5%;
	}
	50% {
		opacity: 0;
	}
	51% {
		opacity: 5%;
	}
	62.5% {
		opacity: 0;
	}
	63.5% {
		opacity: 5%;
	}
	75% {
		opacity: 0;
	}
	76% {
		opacity: 5%;
	}
	87.5% {
		opacity: 0;
	}
	88.5% {
		opacity: 5%;
	}
	100% {
		opacity: 0;
	}
}